@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

:root {
  --color-primery-light: #fff;
  --color-primery-normal: #2b7fff;
  --color-primery-dark: #011c44;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-light: #ffd02b;
  --color-brand-light: #747272;
  --color-brand-dark: #011f4a;
}

/* Base */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-primery-dark);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* container */

.container {
  margin-bottom: 96px;
}

/* Button */

.button {
  padding: 16px 32px;
  color: var(--color-primery-light);
  font-weight: 600;
  border-radius: 32px;
  border: 2px solid var(--color-primery-normal);
  background-color: var(--color-primery-normal);
  cursor: pointer;
}

.button:hover {
  color: var(--color-primery-dark);
  background-color: transparent;
}

/* Link */

.link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-primery-dark);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-primery-normal);
}

/* accent */

.accent {
  color: var(--color-primery-normal);
}

/* header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 32px 100px;
}

.logo {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 22px;
  max-width: 74px;
  line-height: 95%;
  text-transform: capitalize;
  color: #2b7fff;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}

.header-nav {
  display: flex;
  gap: 56px;
}

.header-networks {
  display: flex;
  gap: 32px;
}

/* first-screen section */

.first-screen {
  padding: 124px 0px;
  width: 100%;
  background-image: url("img/first-screen__background.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-position: 100%;
}

.first-screen__container {
  max-width: 528px;
  margin-left: 20%;
}

.first-screen__title {
  max-width: 528px;
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 140px;
  line-height: 81%;
  text-transform: capitalize;
  color: #2b7fff;
  margin-bottom: 40px;
}

.first-screen__btn {
  margin-bottom: 14px;
}

.first-screen__item {
  max-width: 238px;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #4a4a4a;
  margin: 0;
}

/* Reincarnation section */

.reincarnation-container {
  max-width: 1240px;
  display: flex;
  margin: 0 auto;
}

.reincarnation-info {
  max-width: 708px;
  width: 100%;
  margin: 40px 32px 0px 0px;
  padding-left: 8px;
}

.reincarnation-info__title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 40px;
}

.reincarnation-info__text {
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 173%;
}

.reincarnation-info__accent {
  font-weight: 600;
  text-transform: capitalize;
}

.reincarnation-images {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.reincarnation-image {
  border-radius: 50%;
}

.reincarnation-image__after {
  margin-top: 40px;
  float: right;
}

.star-small {
  position: absolute;
  right: 8px;
  top: 268px;
}

.star-medium {
  position: absolute;
  top: 32px;
  right: 36px;
}

.star-large {
  position: absolute;
  left: 122px;
  top: 346px;
}

/* advantages-section */

.advantages-section {
  position: relative;
  padding: 176px 0 96px 0 ;
}

.advantages-backgroung {
  background-image: url(img/background.svg);
  width: 100%;
  height: 976px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; 
  top: -60px;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-title {
  max-width: 442px;
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  margin-bottom: 48px;
}

.advantages-list {
  display: flex;
  gap: 56px;
}

.advantages-list__item {
  max-width: 316px;
  background-color: var(--color-primery-light);
  border-radius: 32px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  padding: 24px 32px;
  text-align: center;
  z-index: 1;
}
/* Procedures section */

.procedures-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* Carousel */

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--bakery-landing-1-s1);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--bakery-landing-1-s1);
}

.carousel-button:hover {
  background-color: var(--beauty-landing-2-s2);
  fill: var(--beauty-landing-2-background);
  border: var(--beauty-landing-2-background);
}

.carousel-button.next {
  transform: rotate(180deg);
}

/*  */
.address-icon {
  width: 32px;
  height: 32px;
}
/*  */
