@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

:root {
  --color-primery-light: #fff;
  --color-primery-normal: #2b7fff;
  --color-primery-dark: #011c44;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-light: #ffd02b;
  --color-brand-light: #747272;
  --color-brand-dark: #011f4a;
}

/* Base */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-primery-dark);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* container */

.container {
  /* max-width: 1060px;
  margin: 0 auto; */
  margin-bottom: 96px;
}

/* Button */

.button {
  padding: 16px 32px;
  color: var(--color-primery-light);
  font-weight: 600;
  border-radius: 32px;
  border: 2px solid var(--color-primery-normal);
  background-color: var(--color-primery-normal);
  cursor: pointer;
}

.button:hover {
  color: var(--color-primery-dark);
  background-color: transparent;
}

/* Link */

.link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-primery-dark);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-primery-normal);
}

/* accent */

.accent {
  color: var(--color-primery-normal);
}

/* header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 32px 100px;
}

.logo {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 22px;
  max-width: 74px;
  line-height: 95%;
  text-transform: capitalize;
  color: #2b7fff;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}

.header-nav {
  display: flex;
  gap: 56px;
}

.header-networks {
  display: flex;
  gap: 32px;
}

/* first-screen section */

.first-screen {
  padding: 124px 0px;
  width: 100%;
  background-image: url('img/first-screen__background.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-position: 100%;
}

.first-screen__container {
  max-width: 528px;
  margin-left: 20%;
}

.first-screen__title {
  max-width: 528px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 140px;
  line-height: 81%;
  text-transform: capitalize;
  color: #2b7fff;
  margin-bottom: 40px;
}

.modal-btn__open{
  margin-bottom: 14px;
}

.first-screen__item {
  max-width: 238px;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #4a4a4a;
  margin: 0;
}

/* Reincarnation section */

.reincarnation-container {
  max-width: 1240px;
  display: flex;
  margin: 0 auto;
  padding-bottom: 20px;
}

.reincarnation-info {
  max-width: 708px;
  width: 100%;
  margin: 40px 32px 0px 0px;
  padding-left: 8px;
}

.reincarnation-info__title {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 40px;
}

.reincarnation-info__text {
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 173%;
}

.reincarnation-info__accent {
  font-weight: 600;
  text-transform: capitalize;
}

.reincarnation-images {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.reincarnation-image {
  border-radius: 50%;
}

.reincarnation-image__after {
  margin-top: 40px;
  float: right;
}

.star-small {
  position: absolute;
  right: 8px;
  top: 268px;
}

.star-medium {
  position: absolute;
  top: 32px;
  right: 36px;
}

.star-large {
  position: absolute;
  left: 122px;
  top: 346px;
}

/* advantages-section */

.advantages-section {
  position: relative;
  padding: 176px 0 96px 0;
}

.advantages-backgroung {
  background-image: url(img/background.svg);
  width: 100%;
  height: 976px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -60px;
  z-index: -1;
}

.advantages-container {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-title {
  max-width: 442px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  margin-bottom: 48px;
}

.advantages-list {
  display: flex;
  gap: 56px;
}

.advantages-list__item {
  max-width: 316px;
  background-color: var(--color-primery-light);
  border-radius: 32px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  padding: 24px 32px;
  text-align: center;
}

.advantages-list__image {
  margin-bottom: 8px;
}
/* Procedures section */

.procedures-title {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
}

.procedures-container {
  max-width: 1216px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 32px;
}

.procedures-list {
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
}

.procedures-item {
  position: relative;
  width: 344px;
  height: 456px;
  border-radius: 4px 120px;
  border: 1px solid black;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    #011c44 99.06%
  );
  flex-basis: calc((100% - 40px) / 3);
}

.procedures-item__text {
  position: absolute;
  bottom: 0;
  left: 25%;
  max-width: 152px;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: var(--color-primery-light);
}

.procedures-markers {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.procedures-marker {
  width: 12px;
  height: 12px;
  background-color: var(--color-brand-light);
  border-radius: 50%;
}

.procedures-marker:first-child {
  background-color: var(--color-primery-normal);
}

/* Carousel */

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primery-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primery-dark);
}

.carousel-button:hover {
  background-color: var(--color-primery-normal);
  fill: var(--color-primery-light);
  border: var(--color-primery-light);
}

.carousel-button.next {
  transform: rotate(180deg);
}

/* contact-section */

.contact-title {
  font-size: 64px;
  text-align: center;
}

.contact-container {
  display: flex;
  max-width: 1060px;
  margin: 0 auto;
}

.contact-map {
  border-radius: 32px;
  border: 1px solid #000;
}

.contact-form {
  box-sizing: content-box;
  max-width: 310px;
  padding: 48px 56px;
  border-radius: 32px;
  background-color: var(--color-brand-dark);
  margin-left: 32px;
}

.fieldset {
  border: none;
  padding: 0;
}

.contact-form__title {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: var(--color-primery-light);
  margin-bottom: 32px;
}

.contact-form__item {
  background-color: var(--color-brand-dark);
  border: 2px solid var(--color-brand-light);
  width: 100%;
  border-radius: 32px;
  color: var(--color-primery-light);
  padding: 18px 32px;
  margin-bottom: 16px;
}

.contact-form__box {
  max-width: 282px;
  margin: 0 auto;
}

.contact-form__button {
  font-size: 17px;
  margin-bottom: 8px;
}

.contact-form__button:hover {
  color: var(--color-primery-light);
}

.privacy-policy {
  max-width: 212px;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  margin: 0 auto;
  color: var(--color-brand-light);
}

.form-accent {
  color: var(--color-brand-light);
}

input::placeholder {
  transition: 0.5s;
  color: var(--color-primery-light);
}

/* footer */

.footer {
  background-color: var(--color-primery-dark);
  width: 100%;
  position: relative;
}

.footer-pexels {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 56px 100px;
}

.footer-nav__list {
  gap: 16px;
}

.footer-address {
  display: flex;
}

.footer-nav__item {
  margin-bottom: 16px;
}

.address-link {
  font-size: 16px;
  color: var(--color-primery-light);
  text-decoration: none;
  font-style: normal;
}

.footer-networks {
  display: flex;
  gap: 24px;
}

.adress-icon {
  fill: var(--color-primery-light);
}

.address-copyright {
  font-size: 13px;
  color: var(--color-brand-light);
  margin-top: 16px;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(1, 31, 74, 0.4);
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 720px;
  max-height: 680px;
  padding: 42px 144px;
  background-color: var(--color-primery-dark);
  border-radius: 48px;
  overflow: auto;
}

.modal-btn__close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.modal-title {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: var(--color-primery-light);
}

.modal-text {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: var(--color-primery-light);
  margin-bottom: 32px;
}

/* form */

.form-field {
  margin-bottom: 24px;
}

.form-label {
  display: block;
}

.form-input {
  width: 100%;
  padding: 18px 32px;
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  background: transparent;
  color: var(--color-primery-light);
}

.form-input:hover {
  /* border-color: var(--color-brand-light); */
  outline: none;
}

.form-input:focus::placeholder {
  color: var(--color-brand-light);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
  margin-bottom: 8px;
}

.form-button:hover{
  color: var(--color-primery-light);
}


.form-terms {
  max-width: 312px;
  line-height: 150%;
  text-align: center;
  margin: 0 auto  ;
  color: var(--color-brand-light);
}

.form-terms__link{
  color: var(--color-brand-light);
  text-underline-offset: 3px;
}
